name: Build

on:
    push:
        branches: [master]

jobs:
    build-unix:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-20.04]
        steps:
            - uses: actions/checkout@v3
              with:
                  submodules: recursive
            - name: Update binaries
              run: |
                  sudo xcode-select -switch /Applications/Xcode_12.2.app || true
                  sudo apt update || true
                  sudo apt install -y g++-aarch64-linux-gnu || true
                  make
                  git fetch origin binaries
                  git checkout binaries
                  cp dist/*.node .
                  git config --global user.email "alexhultman@gmail.com"
                  git config --global user.name "Alex Hultman"
                  git add ./*.node
                  git commit -a -m "[GitHub Actions] Updated ${{ matrix.os }} binaries" || true
            - name: Push changes
              uses: ad-m/github-push-action@master
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  branch: binaries