name: Build

on:
    push:
        branches: [master]

jobs:
    build-windows:
        runs-on: windows-latest
        steps:
            - uses: ilammy/msvc-dev-cmd@v1
            - uses: ilammy/setup-nasm@v1.2.1
            - uses: actions/checkout@v3
              with:
                  submodules: recursive
            - name: Update binaries
              run: |
                  $ErrorActionPreference = 'SilentlyContinue'
                  nmake
                  git fetch origin binaries
                  git checkout binaries
                  xcopy /Y dist\*.node .
                  git config --global user.email "vanchenkin@yandex.ru"
                  git config --global user.name "Ivan Pechyonkin"
                  git add *.node *.js
                  git commit -a -m "[GitHub Actions] Updated windows-latest binaries"
            - name: Push changes
              uses: ad-m/github-push-action@master
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  branch: binaries
    build-unix:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [macos-11.0, ubuntu-20.04]
        steps:
            - uses: actions/checkout@v3
              with:
                  submodules: recursive
            - name: Update binaries
              run: |
                  sudo xcode-select -switch /Applications/Xcode_12.2.app || true
                  sudo apt update || true
                  sudo apt install -y g++-aarch64-linux-gnu || true
                  make
                  git fetch origin binaries
                  git checkout binaries
                  cp dist/*.node .
                  git config --global user.email "alexhultman@gmail.com"
                  git config --global user.name "Alex Hultman"
                  git add *.node *.js
                  git commit -a -m "[GitHub Actions] Updated ${{ matrix.os }} binaries" || true
            - name: Push changes
              uses: ad-m/github-push-action@master
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  branch: binaries
    build-arm:
        runs-on: ubuntu-latest
        name: Build on ${{ matrix.arch }}
        strategy:
            matrix:
                include:
                    - arch: aarch64
                      os: ubuntu20.04
                    - arch: armv7
                      os: bullseye
        steps:
            - uses: actions/checkout@v3
              with:
                  submodules: recursive
            - uses: uraimo/run-on-arch-action@v2.3.0
              name: Compile binaries
              with:
                  arch: ${{ matrix.arch }}
                  distro: ${{ matrix.os }}
                  dockerRunArgs: |
                      --volume "${PWD}/uWebSockets.js:/repository"
                  install: |
                      apt-get update -q -y
                      apt-get install -q -y build-essential cmake libz-dev golang curl libunwind-dev clang
                  run: |
                      cd /repository
                      make
            - name: Update binaries
              run: |
                  git fetch origin binaries
                  git checkout binaries
                  cp dist/*.node .
                  cp dist/*.js .
                  git status
                  git config --global user.email "alexhultman@gmail.com"
                  git config --global user.name "Alex Hultman"
                  git add *.node *.js
                  git commit -a -m "[GitHub Actions] Updated linux-${{ matrix.arch }} binaries" || true
            - name: Push changes
              uses: ad-m/github-push-action@master
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  branch: binaries
